In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("완료/미래유산 지오코딩2.csv", encoding='CP949')
df.head()

,category_id,course_name,duration_time,order_number,name,district,address,price,image_url,page_url,description,decimalLatitude,decimalLongitude
0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,3,해창양복점,중구,중구 남대문로7길 33,NaN,NaN,NaN,NaN,37.563796,126.980017
1,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,0,한영양복점,중구,중구 퇴계로20길 2,NaN,NaN,NaN,NaN,37.559716,126.985435
2,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,1,상동교회(구 새로나백화점),중구,중구 남대문로 30,NaN,NaN,NaN,NaN,37.560835,126.979048
3,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,4,라 칸티나,중구,중구 을지로 19,NaN,NaN,NaN,NaN,37.566306,126.979957
4,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,2,남대문시장,중구,중구 남대문시장4길 21,NaN,NaN,NaN,NaN,37.559186,126.977654

In [15]:
import geokakao as gk

# Convert addresses to coordinates and integrate into the DataFrame
gk.add_coordinates_to_dataframe(df, 'address')

In [16]:
df.head()

,category_id,course_name,duration_time,order_number,name,district,address,price,image_url,page_url,description,decimalLatitude,decimalLongitude
0,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,3,해창양복점,중구,중구 남대문로7길 33,NaN,NaN,NaN,NaN,37.563795833192,126.980017014113
1,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,0,한영양복점,중구,중구 퇴계로20길 2,NaN,NaN,NaN,NaN,37.5597163723303,126.985434663205
2,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,1,상동교회(구 새로나백화점),중구,중구 남대문로 30,NaN,NaN,NaN,NaN,37.5608348101972,126.979047726278
3,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,4,라 칸티나,중구,중구 을지로 19,NaN,NaN,NaN,NaN,37.5663064488484,126.979957145213
4,NaN,시장부터 식사까지 경험하는 서울시민의 일상,3시간,2,남대문시장,중구,중구 남대문시장4길 21,NaN,NaN,NaN,NaN,37.5591863609004,126.977653709273

In [18]:
# DataFrame을 CSV 파일로 저장 (인덱스 포함, utf-8 인코딩)
df.to_csv('완료/미래유산 지오코딩2.csv', index=True, encoding='CP949')