In [148]:
import numpy as np
import pandas as pd

In [149]:
places = pd.read_csv(f"C:/Users/김가연/Desktop/23-2학기/캡스톤2/data/완료/places.csv", encoding='UTF-8-SIG')
places = places[["id", "latitude", "longitude", "name"]]
places

        id   latitude   longitude        name
0        1  37.520797  126.978958    쉘터오브메모리즈
1        2  37.520707  126.979676    쉘터오브메모리즈
2        3  37.548463  126.984184      남산의 생태
3        4  37.552732  126.981128     회화적 몽타주
4        5  37.546340  126.985610          휴식
...    ...        ...         ...         ...
1895  1896  37.560249  127.005893    장충동 족발골목
1896  1897  37.557506  127.007953  박문사 터와 장충단
1897  1898  37.558641  127.006677       장충체육관
1898  1899  37.552924  127.001007      장충테니스장
1899  1900  37.557678  127.004057     장충리틀야구장

[1900 rows x 4 columns]

In [150]:
# 사용자의 임의 위치 프론트에서 받아와서 백서버가 가지고 있으면 
# x : 위도, y: 경도
x = 37.520797
y = 126.978958

하버사인 공식을 사용하여 두 지점간의 거리 계산하기
-> 지구 표면에서 두 지점 간의 직선 거리를 계산하는데 사용

In [151]:
from math import sin, cos, sqrt, atan2

def haversine_distance(x0, y0, x1, y1):
    # x, y가 빈 값이 아닌 경우에만 함수 실행
    if x0 is not None and y0 is not None:
        R = 6371  # 지구의 반지름. 킬로미터 단위.
        dlat = x1 - x0
        dlon = y1 - y0

        # 하버사인 공식 사용
        a = sin(dlat / 2)**2 + cos(x0) * cos(y0) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))

        distance = R * c

        return distance
    else:
        return None

In [152]:
places

        id   latitude   longitude        name
0        1  37.520797  126.978958    쉘터오브메모리즈
1        2  37.520707  126.979676    쉘터오브메모리즈
2        3  37.548463  126.984184      남산의 생태
3        4  37.552732  126.981128     회화적 몽타주
4        5  37.546340  126.985610          휴식
...    ...        ...         ...         ...
1895  1896  37.560249  127.005893    장충동 족발골목
1896  1897  37.557506  127.007953  박문사 터와 장충단
1897  1898  37.558641  127.006677       장충체육관
1898  1899  37.552924  127.001007      장충테니스장
1899  1900  37.557678  127.004057     장충리틀야구장

[1900 rows x 4 columns]

In [153]:
# 기존의 places DataFrame을 복사하여 새로운 DF 생성
distance = places[["id", "name"]].copy()

# 거리 계산하여 생성한 DF에 값을 저장함
distance["distances"] = places.apply(lambda row: haversine_distance(x, y, row["latitude"], row["longitude"]), axis=1)
distance

        id        name   distances
0        1    쉘터오브메모리즈    0.002014
1        2    쉘터오브메모리즈    2.353822
2        3      남산의 생태  177.043709
3        4     회화적 몽타주  203.577233
4        5          휴식  164.100935
...    ...         ...         ...
1895  1896    장충동 족발골목  265.526189
1896  1897  박문사 터와 장충단  251.367064
1897  1898       장충체육관  256.690603
1898  1899      장충테니스장  216.340833
1899  1900     장충리틀야구장  248.140328

[1900 rows x 3 columns]

In [154]:
distance = distance.sort_values(by="distances").head(50)
distance

        id                                               name   distances
0        1                                           쉘터오브메모리즈    0.002014
1        2                                           쉘터오브메모리즈    2.353822
1077  1078                                            국립한글박물관    5.155844
1422  1423                                            국립중앙박물관   20.828340
1330  1331                                       국립중앙박물관 극장 용   25.179420
1241  1242                                          국립박물관문화재단   25.179420
1691  1692                                            용산역사박물관   52.147552
1728  1729                                            용산어린이정원   52.523832
1600  1601                                           서울예술교육센터   53.114441
770    771               [서울예술교육센터] 예술상상 오아시스 이야기를 품은 의자 예술교육   53.114441
865    866  2023년 용산도시기억전시관 기획전시 [변화의 물결 속 용산, 1960~70년대 용...   54.481444
949    950                                          용산도시기억전시관   54.481444
325    326                                             마이어 날다   55.363370
1494  1495                                    감정서가 (서울예술교육센터)   55.363370
436    437                                         아크앤북(이태원점)   66.866699
961    962                                         노들섬 복합문화공간   69.411848
876    877                          [노들섬] 2023 서울거리공연 구석구석라이브   69.411848
799    800                                   [노들섬] 음악비평 및 글쓰기   69.411848
1294  1295                                      Art Space Loo   71.134700
1230  1231                                         대원 콘텐츠 라이브   72.870578
1229  1230                                             팝콘D스퀘어   72.870578
1563  1564                                                예빛섬   75.874240
1115  1116                                                세빛섬   75.874240
1598  1599                                             흑석체육센터   84.339170
1093  1094                                              용산아트홀   84.489308
1792  1793                                        이태원 앤틱 가구거리   84.846313
843    844                                     차없는잠수교 뚜벅뚜벅 축제   87.307047
1700  1701                                             반포한강공원   87.307047
1734  1735                                갤러리자유(Gallery Jayu)   87.374942
1066  1067                                       녹사평 용산공원 플랫폼   93.018382
37      38                                       기초체력(노들나루공원)   93.269843
41      42                                     축구(노들나루공원잔디구장)   93.269843
561    562                                               청맥살롱   98.274592
206    207                                 Foreign book store  101.874824
1791  1792                                             포린북스토어  101.874824
1508  1509                                        재단법인 동작문화재단  104.209232
1469  1470                                             사육신역사관  104.885152
1237  1238                                              전쟁기념관  105.241734
266    267                                               남영서점  105.244499
387    388                                          서사 당신의 서재  108.703074
974    975                                          용산구문화체육센터  110.784276
578    579                                             페이퍼 뮤즈  114.680129
1103  1104                                          서초여성가족플라자  115.001690
1697  1698                                            갤러리필로소피  115.333461
1313  1314                                             까망돌도서관  115.647348
1506  1507                                               드플로허  117.040181
1560  1561                                          서초구립잠원도서관  117.321693
1393  1394                                              용산문화원  117.842808
581    582                                           포스트 포에틱스  118.564087
1788  1789                                               한신옹기  119.377061